linkedin-job-automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        240
      ],
      "id": "9bfecd27-2ff6-4d08-b294-923889fbea3a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "={\n  \"count\": 100,\n  \"scrapeCompany\": true,\n  \"splitByLocation\": false,\n  \"urls\": [\n    \"{{ $json['Linkedin Search URL'] }}\"\n  ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        304,
        48
      ],
      "id": "681d592f-da2b-4535-b638-e1850a20ed9e",
      "name": "Scrape Jobs",
      "credentials": {
        "apifyApi": {
          "id": "YOUR_APIFY_CRED_ID",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add the || \"\" to ensure that if the field is missing, it becomes an empty string instead of crashing\nconst description = ($input.item.json.descriptionText || \"\").toLowerCase();\nconst title = ($input.item.json.title || \"\").toLowerCase();\n\n// Get the job description and title from Apify's output\n\nconst mySkills = [\n  \"java\", \"python\", \"javascript\", \"js\", \"typescript\", \"ts\", \"sql\",\n  \"react\", \"react.js\", \"reactjs\", \"next.js\", \"nextjs\", \"node.js\", \"node\", \"nodejs\", \"express\", \"express.js\", \"fastapi\", \n  \"mongodb\", \"mongo\", \"mysql\", \"postgresql\", \"postgres\", \"redis\", \"docker\", \n  \"git\", \"github\", \"supabase\", \"hugging face\", \"huggingface\", \"cloud\",\n  \"langchain\", \"rag\", \"retrieval-augmented generation\", \"llm\", \n  \"large language models\", \"llms\", \"generative ai\", \"genai\", \n  \"prompt engineering\", \"vector embeddings\", \"vector database\",\n  \"pgvector\", \"sentence transformers\", \"gemini\", \"semantic caching\", \"deep learning\", \"ai agents\", \"agentic\",\n  \"n8n\", \"apify\", \"automation\", \"api\", \"api integration\", \"regex\", \"webhooks\", \n  \"data engineering\", \"etl\", \"pipeline\"\n];\n\nlet score = 0;\nlet matchedSkills = [];\n\n// 1. Scoring Logic\nmySkills.forEach(skill => {\n  if (description.includes(skill)) {\n    score += 1;\n    matchedSkills.push(skill);\n  }\n});\n\n// 2. Seniority & Experience Penalty Logic\nconst experienceRegex = /(?:minimum|at\\s*least)?\\s*(?:[2-9]|two|three|four|five)\\s*[\\+\\-]?\\s*(?:to\\s*[0-9]+)?\\s*years?(?:\\s*of)?\\s*(?:relevant|hands-on|industry|software|professional|work)?\\s*experience/i;\nconst seniorRegex = /\\b(senior|lead|principal|staff|manager|director)\\b/i;\nconst degreeRegex = /\\b(masters?|phd|doctoral)\\b/i;\n\nlet flaggedAsSenior = false;\n\nif (experienceRegex.test(description) || seniorRegex.test(title) || degreeRegex.test(description)) {\n    score = -100; \n    flaggedAsSenior = true;\n}\n\n// 3. Global & Visa Compliance Check (NEW)\n// Filters out US jobs that explicitly require residency/visas, which remote international candidates don't have\nconst residencyKeywords = [\n  \"must reside in\", \"us citizen\", \"canada resident\", \"visa sponsorship\", \n  \"h1b\", \"work authorization\", \"green card\", \"clearance\", \"eligible to work in the us\",\n  \"office-based\", \"relocation required\"\n];\n\nlet flaggedForVisa = false;\n\nresidencyKeywords.forEach(keyword => {\n  if (description.includes(keyword)) {\n    score = -100; // Nuke the score if they require US residency/visas\n    flaggedForVisa = true;\n  }\n});\n\n// 4. Attach data\n$input.item.json.resumeScore = score;\n$input.item.json.matchedSkills = matchedSkills.join(\", \");\n$input.item.json.flaggedAsSenior = flaggedAsSenior;\n$input.item.json.flaggedForVisa = flaggedForVisa;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        240
      ],
      "id": "e3d11ca3-29d5-411e-b145-e67b1935c6e6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resumeScore }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "c9a77763-7d51-404f-abed-cf79ecb6de7c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "perfect match"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc1f6674-1f3b-45e4-afbf-8a413709bebd",
                    "leftValue": "={{ $json.resumeScore >= 1 && $json.resumeScore <= 3 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "decent fit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5856194-03cf-4c28-a2f5-83f2d81d8dba",
                    "leftValue": "={{ $json.resumeScore }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bad fit"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1424,
        224
      ],
      "id": "510eacc3-0879-4e5d-ac67-ee7731845b95",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1152094070#gid=1152094070",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 391409972,
          "mode": "list",
          "cachedResultName": "Master ID Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=391409972"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        480
      ],
      "id": "a18fce8b-a3b5-411d-b665-b82eeee11585",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "Job ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        976,
        208
      ],
      "id": "b6b23f4e-3de7-4f96-a7c8-8b711fbf0512",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1523513959,
          "mode": "list",
          "cachedResultName": "Perfect Matches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=1523513959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Company": "={{ $json.companyName }}",
            "Job Link": "={{ $json.link }}",
            "Matched Skills": "={{ $json.matchedSkills }}",
            "Job ID": "={{ $json.id }}",
            "Job Title": "={{ $json.title }}",
            "Resume Score": "={{ $json.resumeScore }}",
            "Company Website": "={{ $json.companyWebsite }}",
            "Seniority Level": "={{ $json.seniorityLevel }}",
            "Location": "={{ $json.location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Matched Skills",
              "displayName": "Matched Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Seniority Level",
              "displayName": "Seniority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Score",
              "displayName": "Resume Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -48
      ],
      "id": "b767d67b-8412-4c65-8413-c53b74cb9b88",
      "name": "perfect matces",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1152094070#gid=1152094070",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1152094070,
          "mode": "list",
          "cachedResultName": "Needs Tweaking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=1152094070"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Company": "={{ $json.companyName }}",
            "Job Link": "={{ $json.link }}",
            "Matched Skills": "={{ $json.matchedSkills }}",
            "Location": "={{ $json.location }}",
            "Job ID": "={{ $json.id }}",
            "Company Website": "={{ $json.companyWebsite }}",
            "Resume Score": "={{ $json.resumeScore }}",
            "Seniority Level": "={{ $json.seniorityLevel }}",
            "Job Title": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Skills",
              "displayName": "Matched Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Seniority Level",
              "displayName": "Seniority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Score",
              "displayName": "Resume Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        336
      ],
      "id": "0421f8de-0118-4277-9f8f-cd7f77deffd3",
      "name": "Needs Tweaking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "457466cf-d7eb-4586-aa48-05731c723f23",
              "name": "Linkedin Search URL",
              "value": "https://www.linkedin.com/jobs/search/?keywords=ai%20engineer&location=India&f_TPR=r180000&f_E=2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        48
      ],
      "id": "affc6774-0884-4794-b0ec-6b2e15c85f7d",
      "name": "Job Search URL IND"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "457466cf-d7eb-4586-aa48-05731c723f23",
              "name": "Linkedin Search URL",
              "value": "https://www.linkedin.com/jobs/search/?keywords=ai%20engineer&location=united%20states&f_TPR=r180000&f_E=2&f_WT=2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        240
      ],
      "id": "40348464-b647-48bf-a929-22e45e4dcdbc",
      "name": "Job Search URL Global "
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "={\n  \"count\": 100,\n  \"scrapeCompany\": true,\n  \"splitByLocation\": false,\n  \"urls\": [\n    \"{{ $json['Linkedin Search URL'] }}\"\n  ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        304,
        240
      ],
      "id": "dc898f7d-bc44-46be-a9da-ffdbb3e05f46",
      "name": "Scrape Jobs1",
      "credentials": {
        "apifyApi": {
          "id": "YOUR_APIFY_CRED_ID",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        144
      ],
      "id": "07b0156f-70f4-4918-a20d-e26f6714e730",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b66a5c8a-4299-4c5a-ad77-17efaa52d8c9",
              "name": "sourceRegion",
              "value": "India",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        48
      ],
      "id": "f48e2bbc-6259-48f9-9686-321f5ec4c705",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e8ec67a-5946-4063-bc59-54306990acf7",
              "name": "sourceRegion",
              "value": "Global",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        240
      ],
      "id": "d70be630-9e54-4334-8aa1-309d1cd0073c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceRegion }}",
                    "rightValue": "India",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ed596f7a-8715-4576-a42b-d694bd8b4116"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "India"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a64e40e5-0054-4e42-bdeb-3caeffafe928",
                    "leftValue": "={{ $json.sourceRegion }}",
                    "rightValue": "Global",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Global"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1648,
        48
      ],
      "id": "a1e91622-68e9-4163-b41e-dde1bd542c0a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceRegion }}",
                    "rightValue": "India",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ed596f7a-8715-4576-a42b-d694bd8b4116"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "India"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a64e40e5-0054-4e42-bdeb-3caeffafe928",
                    "leftValue": "={{ $json.sourceRegion }}",
                    "rightValue": "Global",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Global"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1648,
        432
      ],
      "id": "2c190150-c671-41f9-9a74-3febe32ab647",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1152094070#gid=1152094070",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1274844025,
          "mode": "list",
          "cachedResultName": "Needs Tweaking(G)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=1274844025"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Company": "={{ $json.companyName }}",
            "Job Link": "={{ $json.link }}",
            "Matched Skills": "={{ $json.matchedSkills }}",
            "Location": "={{ $json.location }}",
            "Job ID": "={{ $json.id }}",
            "Company Website": "={{ $json.companyWebsite }}",
            "Resume Score": "={{ $json.resumeScore }}",
            "Seniority Level": "={{ $json.seniorityLevel }}",
            "Job Title": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Skills",
              "displayName": "Matched Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Seniority Level",
              "displayName": "Seniority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Score",
              "displayName": "Resume Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        528
      ],
      "id": "643b1c7d-24da-4e56-8d83-103ecf834c9e",
      "name": "Needs Tweaking(G)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 449080640,
          "mode": "list",
          "cachedResultName": "Perfect Matches(G)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=449080640"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Company": "={{ $json.companyName }}",
            "Job Link": "={{ $json.link }}",
            "Matched Skills": "={{ $json.matchedSkills }}",
            "Job ID": "={{ $json.id }}",
            "Job Title": "={{ $json.title }}",
            "Resume Score": "={{ $json.resumeScore }}",
            "Company Website": "={{ $json.companyWebsite }}",
            "Seniority Level": "={{ $json.seniorityLevel }}",
            "Location": "={{ $json.location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Matched Skills",
              "displayName": "Matched Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Seniority Level",
              "displayName": "Seniority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Score",
              "displayName": "Resume Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        144
      ],
      "id": "41e0306f-517b-4bec-b448-850998a5006a",
      "name": "perfect matces(G)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1274844025#gid=1274844025",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 391409972,
          "mode": "list",
          "cachedResultName": "Master ID Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=391409972"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "=id {{ $json['Job ID'] }}"
          },
          "matchingColumns": [
            "Job ID"
          ],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        -48
      ],
      "id": "97062102-ebdc-49f2-b3d7-e580a875754a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1274844025#gid=1274844025",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 391409972,
          "mode": "list",
          "cachedResultName": "Master ID Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=391409972"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "=id {{ $json['Job ID'] }}"
          },
          "matchingColumns": [
            "Job ID"
          ],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        144
      ],
      "id": "bcb785cf-ec8b-45b1-a03f-c053b2110329",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1274844025#gid=1274844025",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 391409972,
          "mode": "list",
          "cachedResultName": "Master ID Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=391409972"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "=id {{ $json['Job ID'] }}"
          },
          "matchingColumns": [
            "Job ID"
          ],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        336
      ],
      "id": "e4ba00bd-8bbc-48c5-bba0-e4d66627a213",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?gid=1274844025#gid=1274844025",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 391409972,
          "mode": "list",
          "cachedResultName": "Master ID Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=391409972"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "=id {{ $json['Job ID'] }}"
          },
          "matchingColumns": [
            "Job ID"
          ],
          "schema": [
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        528
      ],
      "id": "49b61979-3fde-4419-b08e-46d0542e51cd",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-05-27T09:00:41.192+05:30",
          "Readable date": "May 27th 2026, 9:00:41 am",
          "Readable time": "9:00:41 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "27",
          "Hour": "09",
          "Minute": "00",
          "Second": "41",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Job Search URL IND",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Search URL Global ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Jobs": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perfect matces": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Search URL IND": {
      "main": [
        [
          {
            "node": "Scrape Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Search URL Global ": {
      "main": [
        [
          {
            "node": "Scrape Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Jobs1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Needs Tweaking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Tweaking(G)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "perfect matces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "perfect matces(G)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perfect matces(G)": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Tweaking": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Tweaking(G)": {
      "main": [
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8e6b663-21b9-477c-8fd4-4c9c75fb7a2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "hAXqkQoszDot5mGe",
  "tags": []
}